#Rust generates
/target
Cargo.lock
Cargo.toml
./src/*.rs

#Python generates
/.venv
/.conda

#VSCode
/.vscode

#Prototypes
#/src/tests/proto/*.py

#Images
/data/images/
/data/*.png

#Files
/*.npy
/*.bin
/*.png